.App {
  width: 100%;
  min-height: 100vh;
  background: #f4f6fa;
}


/* navbar */
.NavContainer{
  background: white;
  display: flex;
  flex-direction: row;
  padding:.8rem 1.5rem;
  position: relative;
  justify-content: start;
  align-items: center;
  width: full;
}
.NavAbsolute{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  background: #f8fafb;
  border-radius: .4rem;
  box-shadow: 0px 0px 3px gray;
  padding: .8rem 1.4rem;
  gap: 1rem;
  font-size: 1rem;
}

.NavAbsolute1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  color: gray;
}
.selectCustom{
  width: 5rem;
  padding: .2rem .3rem;
  border-radius: 5px;
  border: 1px solid gray;
  background: white;
}
.NavDisTab{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  border-radius: .3rem;
  padding:.3rem .4rem;
  box-shadow: 0px 0px 3px gray;
  cursor: pointer;
}

/* Card */
.TicketCard{
  width: 320px;
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0px 0px 3px gray;
  padding: .8rem 1rem;
  gap: .3rem;
}
.CardTitle{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.Card1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
.imag{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.Card2{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}
.C2{
  box-shadow: 0px 0px 2px gray;
  padding: .3rem;
}
.C3{
  display: flex;
  align-items: center;
  gap: .3rem;
  flex-direction: row;
  box-shadow: 0px 0px 2px gray;
  padding: .3rem;
}
.cardCircle{
  width:10px;
  height: 10px;
  border-radius: 100%;
  background-color: gray;
}

/* Display */
.Display{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  overflow-x: scroll;
}
.Display-Horizon{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imagDisp{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.imagDisp1{
  width: 17px;
  height: 17px;
}
.Display1{
  display: flex;
  flex-direction: row;
  gap: .7rem;
  justify-content: center;
  align-items: center;
  
}
.Display2{
  display: flex;
  flex-direction: row;
  gap: .7rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.DisplayNum{
  color: gray;
  font-size: 1rem;
}